/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc*
/.purs*
/.psa*
/.spago
/examples/dist/
/yarn-error.log
.dist/
.dist-dev/
/plugins/cordova-plugin-webpack/
/plugins/cordova-plugin-whitelist/
/platforms/android/
/core
/www/
/package-lock.json
/config/ignored/*
!/config/ignored/*.example
.tmp-arion-*.yaml
