.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
}
